*__pycache__*
*/.ipynb_checkpoints/*
.vscode/*
.spyproject/*
.idea/*
cache/*
dataset/*
dataset/testSet/*
dataset/trainingSet/*
dataset/validationSet/*
logs/*


!cache/.gitkeep
!dataset/testSet/.gitkeep
!dataset/testSet/.gitkeep
!dataset/testSet/.gitkeep
!logs/.gitkeep
